/*Las características del diseño de esta página son:
*    Un diseño elástico centrado con un ancho de 60 em.
*    El encabezado de nivel 1 centrado.
*    El contenido principal de la página se organiza en dos columnas, una de 16 em de ancho y la
*   otra el espacio restante de 44 em.
*    La lista que explica el contenido del libro se muestra como un texto a tres columnas del
*   mismo ancho.
*   Puedes modificar el código HTML proporcionado para añadir los identificadores y clases que
*   necesites. También puedes añadir etiquetas <div> para definir elementos contenedores en la página.
*/

.contenedor{
    width: 60em;
    margin: 0 auto;
}
h1{
    text-align: center;
}
.contenidos{
    display: flex;
    gap: 2em;
}
.izquierda{
    width: 16em;
}
.derecha{
    width: 44em;
}
.derecha ul{
    display: flex;  
    list-style: none;
    padding-left: 0;
}
.derecha ul li {
    flex: 1;

}