/*Los bordes que debes definir son:
 Encabezado nivel 1: borde inferior con una anchura de 2px, sólido y de color azul (#00F).
 Encabezado nivel 2: borde completo con una anchura de 2px, sólido y de color gris (#AAA).
 Lista con los datos del libro: borde superior e inferior con una anchura de 4px, punteado y
de color rojo (#F00).
 Lista con el contenido del libro: borde completo con una anchura de 2px, con guiones y de
color verde (#0F0).
 Puedes modificar el código HTML proporcionado para añadir los identificadores y clases que
necesites.*/
h1{
    border-bottom: 2px solid #00F;
}
h2{
    border: 2px solid #AAA;
}
#datos-libro{
    border: 4px dotted #f00;
    border-left: none;
    border-right: none;
}
#contenido{
    border: 2px dashed #0F0;
}

